.DS_Store
*swp
*.o
sigenmax2870
aclocal.m4 
config.log 
config.status 
configure 
include/config.h 
include/config.h.in 
include/config.h.in~ 
include/stamp-h1 
include/y.tab.h 
libtool 
Makefile 
Makefile.in 
src/Makefile.in 
autom4te.cache/ 
src/.deps/ 
*.la
*.lo
.vscode
compile
configure~
.libs
signal_generator.code-workspace
SignalGenerator.dmg
SignalGenerator.orig.dmg
split.sh
